/*
colors used: https://www.colorbook.io/hexcolors/view/D78A30
D78A30 - orange, primary
307dd7 - blue, secondary
9bc0ec - light blue, tertiary
d7305c - red, text-decoration
*/

body {
  background-color: #9bc0ec;
}

a {
  color: #d7305c;
}

h1,h2 {
  color: #D78A30;
  text-shadow: 1px 1px lightgrey;
  font-size: 52px;
  font-family: Georgia;
  text-align: Center;
}

p {
  color: #307dd7;
  font-family: Verdana;
  font-size: 14px;
  text-align: Center;
}

.navigation {
  background-color: #D78A30;
  box-shadow: 2px 2px #d7305c;
  text-shadow: .5px .5px lightgrey;
  display: block;
  list-style: none;
  margin-top: 0;
  width: 100%;
  height: 35px;
}

ul.navigation li {
  display: inline-block;;
  float: left;
}

ul.navigation a {
  color: grey;
  display: block;
  padding: 10px;
  text-decoration: none;  /*removes link underline*/
}

#header-image, #body-image {
  display: block;
  margin: auto;
  border: 2px solid lightgrey;
  box-shadow: 1px 1px #d7305c;
}

#footer {
  text-align: center;
  font-size: 10px;
  color: white;
  background-color: #D78A30;
  border: none;
  height: auto;
  padding: 10px;
}

#question {
  color: #D78A30;
  font-size: 16px;
  text-shadow: .5px .5px lightgrey;
}
